   <main class="sec">
      <section class="sec-cont">
        <div class="under-construction-container">
          <h1 class="under-construction-heading">(404)  Page not found</h1>
          <div class="under-construction-btn-container">
            <a href="/" class="under-construction-link-home"
              >Tillbaks hem</a
            >
          </div>
        </div>
      </section>
    </main>