    <main class="sec">
      <section class="sec-cont">
        <section class="sec-cont">
          <div class="salons sec-cont">
            <div class="undercategory">
              <h1 class="events-title">Our events</h1>
              <nav class="sec">
                <ul class="events-category-list">
                  <li class="events-category-element">
                    <a href="/under-construction" >Live på bio</a>
                  </li>
                  <li class="events-category-element">
                    <a href="/under-construction" >Specialvisningar</a>
                  </li>
                </ul>
              </nav>
            </div>
        <div class="under-construction-container">
          <h1 class="under-construction-heading">Under Construction</h1>
          <div class="under-construction-icon-container">
            <i class="fa-solid fa-wrench fa-10x"></i>
          </div>
          <div class="under-construction-btn-container">
            <a href="/" class="under-construction-link-home"
              >Tillbaks hem</a
            >
          </div>
        </div>
      </section>
    </main>