<main class="sec clear-main">
      <div class="sec-cont">
        <!-- Movie Accordion -->
        <section class="accordion-cont">
          <!-- Next / Before Buttons -->
          <button class="slide-btn prev">
            <img
              src="static/images/arrow-left-circle.svg"
              alt="previosly movie"
            />
          </button>
          <button class="slide-btn next">
            <img src="static/images/arrow-right-circle.svg" alt="next movie" />
          </button>

          <!-- Sliders -->
          <div class="slider">
            <section class="slide" id="first-slide">
              <div class="slide-content">
                <h2>MOVIE NAME</h2>
                <h3>SUBTITLE</h3>
                <a href="/booking" class="slide-btn">Biljetter</a>
              </div>
              <img
                src="https://biografspegeln.se/media/stills/3005/1024/04e39f44-fc79-42d9-b724-ff8cebc3ef03.jpeg"
                alt="movie banner"
              />
            </section>

            <section class="slide">
              <div class="slide-content">
                <h2>MOVIE NAME</h2>
                <h3>SUBTITLE</h3>
                <a href="/booking" class="slide-btn">Biljetter</a>
              </div>
              <img
                src="https://biografspegeln.se/media/stills/2801/1024/57cda8f6-7101-4430-bd5f-95c841e0ac37.jpg"
                alt="movie banner"
              />
            </section>
            <section class="slide">
              <div class="slide-content">
                <h2>MOVIE NAME</h2>
                <h3>SUBTITLE</h3>
                <a href="/booking" class="slide-btn">Biljetter</a>
              </div>
              <img
                src="https://biografspegeln.se/media/stills/2956/1024/ec0b06e3-1860-4394-85ff-d590d6ced08c.jpg"
                alt="movie banner"
              />
            </section>
            <section class="slide">
              <div class="slide-content">
                <h2>MOVIE NAME</h2>
                <h3>SUBTITLE</h3>
                <a href="/booking" class="slide-btn">Biljetter</a>
              </div>
              <img
                src="https://biografspegeln.se/media/stills/3031/1024/ed7903e9-a804-4790-8740-58b3e9c7c4ed.jpeg"
                alt="movie banner"
              />
            </section>
          </div>
        </section>
      </div>

      <script src="src/JS/accordion.js"></script>

      <section class="show-movies sec-cont">
        <div class="movies-lists-container">
          <h1 class="index-title">PÅ BION JUST NU</h1>
          <h2>FILMER</h2>
          <ul class="comedy-start-list list-styling">
            {{#each movies }}
                <li class="comedy-start-list">
                    <a href="/movies/{{ this.id }}" >
                        <img src={{ this.attributes.image.url }} aria-label="{{ this.attributes.title }}"/>
                    </a>
                </li>
            {{/each}}
          </ul>
        </div> 
      </section>
    </main>